<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>회원정보</title>
</head>
<body>
<h2>여기는 user_info.ejs </h2>
I D : <%=usrId%> <br>
Name : <%=name%> <br>
Age : <%=age%> <br>
</body>
</html>